
.header{
    display: flex;
    position: fixed;
    height:64px;
    direction: rtl;
    padding: 10px;
    gap: 16px;
    width: 100%;
}
.logo-box{
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow:  0 2px 8px rgba(209, 246, 243, 1);
    
}
.header p{
    text-align: center;
    font-size: 20px;
    font-style: bold;
    font-weight: 700;
    width:250px;
    height: 14px;
}
.search{
    /* width: 900px; */
}
.search-box{
    width:700px;
    display: flex;
}